%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :nickname
    %br/
    = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name, autofocus: true, autocomplete: "last_name"
  .field
    = f.label :last_name_furigana
    %br/
    = f.text_field :last_name_furigana, autofocus: true, autocomplete: "last_name_furigana"
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true, autocomplete: "first_name"
  .field
    = f.label :first_name_furigana
    %br/
    = f.text_field :first_name_furigana, autofocus: true, autocomplete: "first_name_furigana"
  .field
    = f.label :birthday
    %br/
    = f.date_select :birthday, start_year: 1900, end_year: Time.current.year, use_month_numbers: true
  .field
    = f.label :email
    %br/
    = f.text_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} 文字以上)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :tel_number
    %br/
    = f.password_field :tel_number , autocomplete: "tel_number "
  .actions
    = f.submit "Next"
= render "devise/shared/links"
