%header.header
  .header__body
    .header__body__main
      .header__body__main__icon-space
        = link_to image_tag("material/logo/logo.png", class: "header__body__main__icon-space__icon"), root_path
      
      .header__body__main__searchbox
        %form.header__body__main__searchbox__form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
          %input{:name => "utf-8", :type => "hidden", :value => ""}/
          %input#searchInput.header__body__main__searchbox__form__input{:name => "key", :placeholder => "キーワードから探す"}/
          %label.header__body__main__searchbox__form__submit
            %button.header__body__main__searchbox__form__submit__button{:type => "submit"}
              = link_to image_tag "material/icon/icon-search 1.png", class:"header__body__main__searchbox__form__submit__button__image"
      %ul.header__body__main__resultslists
    
    .header__body__nav
      %ul.nav-left
        %li.nav-left__box.nav-left__box-category
          = link_to 'カテゴリー','#',class:"header__link"
        %li.nav-left__box
          = link_to 'ブランド','#',class:"header__link"
      %ul.nav-right
        -if user_signed_in?
          %li.nav-right__box.nav-right__box-login
            = link_to 'ログアウト',destroy_user_session_path, method: :delete, class:"header__link"
          %li.nav-right__box.nav-right__box-new
            = link_to 'マイページ',user_path(current_user.id),class:"header__link"
        -else
          %li.nav-right__box.nav-right__box-login
            = link_to 'ログイン',new_user_session_path,class:"header__link"
          %li.nav-right__box.nav-right__box-new
            = link_to '新規会員登録',new_user_registration_path,class:"header__link"