.main
  .main-content
    %h1.item-name 
    .main-content__photo
      = image_tag "https://lh3.googleusercontent.com/proxy/3iYcqyqOKjg_Z_BqL8VP2EW7kc5P0p6X-fePvjibXvIyIhZxYRuUTwH9RghWP8xOEDiwxnPTyR1D3qGEReyI9n342JCQw1yHyo1QtKkIb5lEQvri"
    .main-content__photoSub
      = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
      = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
    .main-content__price
      %p.main-content__price--content
        90000円
      %span.main-content__price--detail
        .main-content__price--detail-tax 
          (税込)
        .main-content__price--detail-shipFee 
          送料込み

    .main-content__purchase
      %button.main-content__purchase--btn
        = link_to "編集、削除もしくは購入に進む" ,"#", id: "edit-btn"

    .main-content__description
      ここは商品の説明について
      記載しています。
    
    %table.main-content__table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to "ユーザーネーム", "path", class: ""
            %div
        %tr
          %th カテゴリー
          %td
            = link_to "カテゴリーネーム", "path", class: ""
            %br
              = link_to "カテゴリーネーム", "product_path", class: ""
              %br
                = link_to "カテゴリーネーム", "product_path", class: ""
        %tr
          %th ブランド
          %td
        %tr
          %th 商品の状態
          %td 
        %tr
          %th 配送料の負担
          %td 
        %tr
          %th 配送元地域
          %td 
        %tr
          %th 発送日の目安
          %td 

    .main-content__btn
      %button.main-content__btn--like
        = icon('fas', 'star')
        お気に入り 
        .main-content__btn--like--numLike
        ０
      %button.main-content__btn--report
        = icon('fab', 'font-awesome-flag')
        不適切な商品の通報

  .comment
    .comment__history
      .comment__history--content
      .comment__history--content-date
    %input.comment__input{id: "comment__input", name: "", type: "text", value: "", placeholder: ""}
    
    .comment__caution
      相手のことを考え丁寧なコメントを心がけましょう。
      %br
        不快な言葉遣いなどは利用制限や退会処分となることがあります。

    %button.comment__btn{:name => "button", :type => "submit"}
      = icon('fas', 'comment')
      コメントする

  .other-products
    .other-products__links
      .other-products__links--privious
        = icon('fas', 'chevron-left')
        = link_to "前の商品","#"

      .other-products__links--next
        = link_to "次の商品","#"
        = icon('fas', 'chevron-right')

    .other-products__genre
      = link_to "メンズをもっと見る", "/"